In [2]:
#import all the modeules we've used before

import itertools
import numpy as np
import pandas as pd
import statsmodels.api as sm
from matplotlib import pyplot as plt
import seaborn as sns

from rdkit import Chem, DataStructs
from rdkit.Chem import AllChem
import rdkit
# Render the figure in a notebook:
%matplotlib inline  

from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import precision_score

In [3]:
df = pd.read_csv('tox21.csv')
df
df2tox=df

In [4]:
df_only_data = df.drop(columns=['mol_id', 'smiles']) #drop the columns.

In [5]:
df_NaN_1 = df_only_data.applymap(lambda x: 1 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))
df_NaN_1

C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\1756821628.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_NaN_1 = df_only_data.applymap(lambda x: 1 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53
0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7826,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
7827,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
7829,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
7830,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
df_NaN_0 = df_only_data.applymap(lambda x: 0 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))
df_NaN_0

C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\2039548102.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_NaN_0 = df_only_data.applymap(lambda x: 0 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7827,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
7829,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
7830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [7]:
# x_train_val, x_test, y, y_test = train_test_split(X_morgan_raw, Y_raw,test_size=0.2,train_size=0.8) 
# X_morgan_train, X_morgan_val, y_train, y_val = train_test_split(x,y,test_size = 0.25,train_size =0.75)

In [8]:
df2tox.insert(0, 'toxic', np.nan)

In [9]:
df2tox

,toxic,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
0,NaN,0.0,0.0,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX3021,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3020,CCN1C(=O)NC(c2ccccc2)C1=O
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX3024,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3027,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX20800,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX2725,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,NaN,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,TOX2370,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,NaN,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX2371,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,NaN,1.0,1.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,TOX2377,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,TOX2724,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [10]:
df3tox = df2tox
df3tox['toxic'] = (df3tox.iloc[:, 1:] == 1).any(axis=1).astype(int)

In [11]:
df3tox

,toxic,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
0,1,0.0,0.0,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX3021,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3020,CCN1C(=O)NC(c2ccccc2)C1=O
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX3024,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3027,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX20800,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX2725,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,1,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,TOX2370,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX2371,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,1,1.0,1.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,TOX2377,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,1,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,TOX2724,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [12]:
Y =df3tox['toxic']
X = df3tox.drop('toxic', axis =1)

In [19]:
X_dropped_Al = X.drop([1322, 2290,2297,3558, 4565,4649, 5538, 6723, 7830])
Y_dropped_Al = Y.drop([1322, 2290,2297,3558, 4565,4649, 5538, 6723, 7830])
X_dropped_Al

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX3021,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3020,CCN1C(=O)NC(c2ccccc2)C1=O
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX3024,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3027,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX20800,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7825,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,0.0,TOX25184,CCCNCC(O)COc1ccccc1C(=O)CCc1ccccc1
7826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX2725,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,TOX2370,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX2371,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,1.0,1.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,TOX2377,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...

In [20]:
x_train_val, x_test, y_train_val, y_test = train_test_split(X_dropped_Al, Y_dropped_Al,test_size=0.15, random_state=0) #split the test off first
X_train, X_val, y_train, y_val = train_test_split(x_train_val,y_train_val,test_size = 0.15/0.85, random_state=0)

In [21]:
X_trainNan1 = X_train.applymap(lambda x: 1 if pd.isna(x) else x) #if finds NaN makes a 1
X_trainNan0 = X_train.applymap(lambda x: 0 if pd.isna(x) else x) # if finds NaN makes a 0

X_testNan1 = x_test.applymap(lambda x: 1 if pd.isna(x) else x) # repeats for test set
X_testNan0 = x_test.applymap(lambda x: 0 if pd.isna(x) else x)

X_valNan1 = X_val.applymap(lambda x: 1 if pd.isna(x) else x) # repeats for val set
X_valNan0 = X_val.applymap(lambda x: 0 if pd.isna(x) else x)

C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\87412871.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_trainNan1 = X_train.applymap(lambda x: 1 if pd.isna(x) else x) #if finds NaN makes a 1
C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\87412871.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_trainNan0 = X_train.applymap(lambda x: 0 if pd.isna(x) else x) # if finds NaN makes a 0
C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\87412871.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_testNan1 = x_test.applymap(lambda x: 1 if pd.isna(x) else x) # repeats for test set
C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\87412871.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_testNan0 = x_test.applymap(lambda x: 0 if pd.isna(x) else x)
C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\87412871.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_valNan1 = X_val.applymap(lambda x: 1 if pd.isna(x) else x) # repeats for val set
C:\Users\rf25545\AppData\Local\Temp\ipykernel_2704\87412871.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_valNan0 = X_val.applymap(lambda x: 0 if pd.isna(x) else x)

In [22]:
X_trainNan1

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
1599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX22060,CC1(C)[C@@H]2CC[C@@]1(C)[C@H](O)C2
3567,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,TOX243,O=C1C2CC=CCC2C(=O)N1SC(Cl)(Cl)Cl
3255,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX913,c1ccc2ccccc2c1
5428,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,TOX31616,O=c1[nH]c(=O)n([C@H]2O[C@H](CO)[C@@H](O)[C@@H]...
7755,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX22352,CCOC(=O)c1cn2nc(OP(=S)(OCC)OCC)cc2nc1C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX27537,CCCCCCCCOC(=O)CCCCCCCCC(=O)OCCCCCCCC
1878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX420,C#CC(C)(C)NC(=O)c1cc(Cl)cc(Cl)c1
1700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX24762,CCO[Si](CCC1CCC2OC2C1)(OCC)OCC
7290,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,TOX25498,CC(C)N1CCN(c2ccc(OC[C@H]3CO[C@](Cn4cncn4)(c4cc...
3400,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,TOX2406,O=C(c1ccccc1)c1ccc(O)cc1O

In [23]:
X_trainNan0

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
1599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX22060,CC1(C)[C@@H]2CC[C@@]1(C)[C@H](O)C2
3567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,TOX243,O=C1C2CC=CCC2C(=O)N1SC(Cl)(Cl)Cl
3255,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX913,c1ccc2ccccc2c1
5428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX31616,O=c1[nH]c(=O)n([C@H]2O[C@H](CO)[C@@H](O)[C@@H]...
7755,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX22352,CCOC(=O)c1cn2nc(OP(=S)(OCC)OCC)cc2nc1C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX27537,CCCCCCCCOC(=O)CCCCCCCCC(=O)OCCCCCCCC
1878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX420,C#CC(C)(C)NC(=O)c1cc(Cl)cc(Cl)c1
1700,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX24762,CCO[Si](CCC1CCC2OC2C1)(OCC)OCC
7290,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX25498,CC(C)N1CCN(c2ccc(OC[C@H]3CO[C@](Cn4cncn4)(c4cc...
3400,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX2406,O=C(c1ccccc1)c1ccc(O)cc1O

In [24]:
y_train

1599    0
3567    1
3255    0
5428    0
7755    1
       ..
5507    0
1878    0
1700    0
7290    1
3400    1
Name: toxic, Length: 5474, dtype: int64

In [ ]:
from rdkit import Chem
from rdkit.Chem import Descriptors
from rdkit.ML.Descriptors import MoleculeDescriptors

In [33]:
def smiles_to_mol(smiles):
    try:
        mol = Chem.MolFromSmiles(smiles)
        if mol is None:
            return None
        return mol
    except:
        return None
######
def mol_to_descriptors(mol):
    try:
        return list(calculator.CalcDescriptors(mol))
    except:
        return [np.nan] * len(descriptor_names)
###Now Tandem them together###
def smiles_df_to_descriptors(df, smiles_col="smiles"):
    mols = df[smiles_col].apply(smiles_to_mol)
    
    desc_values = mols.apply(
        lambda mol: mol_to_descriptors(mol) if mol is not None 
        else [np.nan] * len(descriptor_names)
    )
    
    desc_df = pd.DataFrame(
        desc_values.tolist(),
        columns=descriptor_names,
        index=df.index
    )
    
    return desc_df

In [38]:
X_trainNan0_Desc = smiles_df_to_descriptors(X_trainNan0)
X_testNan0_Desc = smiles_df_to_descriptors(X_testNan0)
X_valNan0_Desc = smiles_df_to_descriptors(X_valNan0)

X_trainNan1_Desc = smiles_df_to_descriptors(X_trainNan1)
X_testNan1_Desc = smiles_df_to_descriptors(X_testNan1)
X_valNan1_Desc = smiles_df_to_descriptors(X_valNan1)

[15:36:46] WARNING: not removing hydrogen atom without neighbors
[15:36:47] WARNING: not removing hydrogen atom without neighbors
[15:38:17] WARNING: not removing hydrogen atom without neighbors
[15:38:17] WARNING: not removing hydrogen atom without neighbors

,MaxAbsEStateIndex,MaxEStateIndex,MinAbsEStateIndex,MinEStateIndex,qed,SPS,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
1599,9.814236,9.814236,0.031250,-0.031250,0.566800,53.454545,154.253,136.109,154.135765,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3567,11.902315,11.902315,0.254005,-1.688251,0.323312,29.812500,300.594,292.530,298.934133,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3255,2.120370,2.120370,1.310185,1.310185,0.511431,10.000000,128.174,120.110,128.062600,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5428,11.767095,11.767095,0.165938,-1.392082,0.527270,30.200000,349.137,336.033,347.995698,110.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7755,11.929391,11.929391,0.229761,-2.911845,0.515870,11.666667,373.371,353.211,373.086128,132.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5507,11.688537,11.688537,0.044753,-0.044753,0.122944,10.866667,426.682,376.282,426.370910,178.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0
1878,11.799684,11.799684,0.298750,-0.702503,0.809002,10.687500,256.132,245.044,255.021769,84.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1700,5.901944,5.901944,0.556571,-2.428721,0.482905,30.157895,288.460,260.236,288.175686,112.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7290,6.534497,6.534497,0.287913,-1.119655,0.424579,22.916667,532.472,501.224,531.180395,192.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3400,11.936797,11.936797,0.067489,-0.265648,0.754118,10.000000,214.220,204.140,214.062994,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#todo convert to .csv files