In [1]:
#import all the modeules we've used before

import itertools
import numpy as np
import pandas as pd
import statsmodels.api as sm
from matplotlib import pyplot as plt
import seaborn as sns

from rdkit import Chem, DataStructs
from rdkit.Chem import AllChem
import rdkit
# Render the figure in a notebook:
%matplotlib inline  

from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import precision_score

In [2]:
df = pd.read_csv('tox21.csv')
df
df2tox=df

In [3]:
df_only_data = df.drop(columns=['mol_id', 'smiles']) #drop the columns.

In [4]:
df_NaN_1 = df_only_data.applymap(lambda x: 1 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))
df_NaN_1

C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\1756821628.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_NaN_1 = df_only_data.applymap(lambda x: 1 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53
0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7826,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
7827,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
7829,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
7830,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
df_NaN_0 = df_only_data.applymap(lambda x: 0 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))
df_NaN_0

C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\2039548102.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_NaN_0 = df_only_data.applymap(lambda x: 0 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7827,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
7829,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
7830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [6]:
# x_train_val, x_test, y, y_test = train_test_split(X_morgan_raw, Y_raw,test_size=0.2,train_size=0.8) 
# X_morgan_train, X_morgan_val, y_train, y_val = train_test_split(x,y,test_size = 0.25,train_size =0.75)

In [7]:
df2tox.insert(0, 'toxic', np.nan)

In [8]:
df2tox

,toxic,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
0,NaN,0.0,0.0,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX3021,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3020,CCN1C(=O)NC(c2ccccc2)C1=O
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX3024,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3027,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX20800,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX2725,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,NaN,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,TOX2370,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,NaN,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX2371,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,NaN,1.0,1.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,TOX2377,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,TOX2724,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [10]:
df3tox = df2tox
df3tox['toxic'] = (df3tox.iloc[:, 1:] == 1).any(axis=1).astype(int)

In [11]:
df3tox

,toxic,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
0,1,0.0,0.0,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX3021,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3020,CCN1C(=O)NC(c2ccccc2)C1=O
2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX3024,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,TOX3027,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX20800,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,TOX2725,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,1,1.0,1.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,TOX2370,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX2371,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,1,1.0,1.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,TOX2377,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,1,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,TOX2724,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [14]:
Y =df3tox['toxic']
X = df3tox.drop('toxic', axis =1)

In [15]:
x_train_val, x_test, y_train_val, y_test = train_test_split(X, Y,test_size=0.2,train_size=0.8) #split the test off first
X_train, X_val, y_train, y_val = train_test_split(x_train_val,y_train_val,test_size = 0.25,train_size =0.75)

In [ ]:
X_trainNan1 = X_train.applymap(lambda x: 1 if pd.isna(x) else x) #if finds NaN makes a 1
X_trainNan0 = X_train.applymap(lambda x: 0 if pd.isna(x) else x) # if finds NaN makes a 0

X_testNan1 = x_test.applymap(lambda x: 1 if pd.isna(x) else x) # repeats for test set
X_testNan0 = x_test.applymap(lambda x: 0 if pd.isna(x) else x)

X_valNan1 = X_val.applymap(lambda x: 1 if pd.isna(x) else x) # repeats for val set
X_valNan0 = X_val.applymap(lambda x: 0 if pd.isna(x) else x)

C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\2931731375.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_trainNan1 = X_train.applymap(lambda x: 1 if pd.isna(x) else x)
C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\2931731375.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_trainNan0 = X_train.applymap(lambda x: 0 if pd.isna(x) else x)
C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\2931731375.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_testNan1 = x_test.applymap(lambda x: 1 if pd.isna(x) else x)
C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\2931731375.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_testNan0 = x_test.applymap(lambda x: 0 if pd.isna(x) else x)
C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\2931731375.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_valNan1 = X_val.applymap(lambda x: 1 if pd.isna(x) else x)
C:\Users\eh25421\AppData\Local\Temp\ipykernel_12160\2931731375.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  X_valNan0 = X_val.applymap(lambda x: 0 if pd.isna(x) else x)

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,mol_id,smiles
3537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX3435,CCCC(C)C1(CC)C(=O)N=C(O)NC1=O
219,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX6265,CCCCC(CC)COC(=O)c1ccc(C(=O)OCC(CC)CCCC)c(C(=O)...
2204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX27462,CC1=CCC2C(C1)C2(C)C
6479,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,TOX233,C=C1CC[C@H](O)C/C1=C/C=C1\CCC[C@@]2(C)[C@H]1CC...
4671,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX2601,C[C@@H]1OC(=O)C[C@H](O)C[C@H](O)CC[C@@H](O)[C@...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2041,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX26182,CCN(CC)CCOc1ccc2nc(N(C)C)sc2c1
4804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,TOX26724,FC(F)(F)c1cccc(C2=CCN(CCc3ccc4ccccc4c3)CC2)c1
4111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX1892,Cc1ccncc1
3841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX25222,O=C(NCCNCC(O)COc1ccc(O)cc1)N1CCOCC1
2427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TOX976,C[N+]([O-])(CCCl)CCCl

In [ ]:
#no non toxic nan data