In [24]:
#import all the modeules we've used before

import itertools
import numpy as np
import pandas as pd
import statsmodels.api as sm
from matplotlib import pyplot as plt
import seaborn as sns

from rdkit import Chem, DataStructs
from rdkit.Chem import AllChem
import rdkit
# Render the figure in a notebook:
%matplotlib inline  

from scipy import stats

from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import precision_score

In [25]:
df = pd.read_csv('tox21.csv')
df
df2tox=df

In [26]:
df_only_data = df.drop(columns=['mol_id']) #drop the columns.

In [27]:
df_NaN_1 = df_only_data.applymap(lambda x: 1 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))
df_NaN_1

C:\Users\rf25545\AppData\Local\Temp\ipykernel_35044\1756821628.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_NaN_1 = df_only_data.applymap(lambda x: 1 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,smiles
0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,CCN1C(=O)NC(c2ccccc2)C1=O
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [28]:
df_NaN_0 = df_only_data.applymap(lambda x: 0 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))
df_NaN_0

C:\Users\rf25545\AppData\Local\Temp\ipykernel_35044\2039548102.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_NaN_0 = df_only_data.applymap(lambda x: 0 if pd.isna(x) else x)  #   .applymap applies a lambda function to all values in the df that are NaN (defined by pf.isna(x))

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,smiles
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCN1C(=O)NC(c2ccccc2)C1=O
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [29]:
# x_train_val, x_test, y, y_test = train_test_split(X_morgan_raw, Y_raw,test_size=0.2,train_size=0.8) 
# X_morgan_train, X_morgan_val, y_train, y_val = train_test_split(x,y,test_size = 0.25,train_size =0.75)

In [30]:
df_NaN_0

,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,smiles
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCN1C(=O)NC(c2ccccc2)C1=O
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [31]:
df_NaN_0.insert(0, 'toxic', np.nan)
df_NaN_1.insert(0, 'toxic', np.nan)

In [32]:
df_NaN_0

,toxic,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,smiles
0,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCN1C(=O)NC(c2ccccc2)C1=O
2,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,NaN,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,NaN,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [33]:
dftoxNan0 = df_NaN_0
dftoxNan0['toxic'] = (dftoxNan0.iloc[:, 1:] == 1).any(axis=1).astype(int)
dftoxNan1 = df_NaN_1
dftoxNan1['toxic'] = (dftoxNan1.iloc[:, 1:] == 1).any(axis=1).astype(int)

In [34]:
dftoxNan1

,toxic,NR-AR,NR-AR-LBD,NR-AhR,NR-Aromatase,NR-ER,NR-ER-LBD,NR-PPAR-gamma,SR-ARE,SR-ATAD5,SR-HSE,SR-MMP,SR-p53,smiles
0,1,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,CCOc1ccc2nc(S(N)(=O)=O)sc2c1
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,CCN1C(=O)NC(c2ccccc2)C1=O
2,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,CC[C@]1(O)CC[C@H]2[C@@H]3CCC4=CCCC[C@@H]4[C@H]...
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,CCCN(CC)C(CC)C(=O)Nc1c(C)cccc1C
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CC(O)(P(=O)(O)O)P(=O)(O)O
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7826,1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,CCOc1nc2cccc(C(=O)O)c2n1Cc1ccc(-c2ccccc2-c2nnn...
7827,1,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)CC[C@]4(...
7828,1,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,C[C@]12CC[C@H]3[C@@H](CCC4=CC(=O)CC[C@@]43C)[C...
7829,1,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,C[C@]12CC[C@@H]3c4ccc(O)cc4CC[C@H]3[C@@H]1CC[C...
7830,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,COc1ccc2c(c1OC)CN1CCc3cc4c(cc3C1C2)OCO4

In [35]:
YNan0 =dftoxNan0['toxic']
XNan0 = dftoxNan0.drop('toxic', axis =1)

YNan1 = dftoxNan1['toxic']
XNan1 = dftoxNan1.drop('toxic', axis =1)

In [36]:
X_dropped_Al0 = XNan0.drop([1322, 2290,2297,3558, 4565,4649, 5538, 6723, 7830])
Y_dropped_Al0 = YNan0.drop([1322, 2290,2297,3558, 4565,4649, 5538, 6723, 7830])
X_dropped_Al1 = XNan1.drop([1322, 2290,2297,3558, 4565,4649, 5538, 6723, 7830])
Y_dropped_Al1 = YNan1.drop([1322, 2290,2297,3558, 4565,4649, 5538, 6723, 7830])

In [37]:
x_train_val0, x_test0, y_train_val0, y_test0 = train_test_split(X_dropped_Al0, Y_dropped_Al0,test_size=0.15, random_state=0) #split the test off first
X_train0, X_val0, y_train0, y_val0 = train_test_split(x_train_val0,y_train_val0,test_size = 0.15/0.85, random_state=0)

In [38]:
x_train_val1, x_test1, y_train_val1, y_test1 = train_test_split(X_dropped_Al1, Y_dropped_Al1,test_size=0.15, random_state=0) #split the test off first
X_train1, X_val1, y_train1, y_val1 = train_test_split(x_train_val1,y_train_val1,test_size = 0.15/0.85, random_state=0)

In [39]:
### y datasets are different - x datasets for Nan0 and Nan1 used

In [40]:
from rdkit import Chem
from rdkit.Chem import Descriptors
from rdkit.ML.Descriptors import MoleculeDescriptors

In [41]:
from rdkit.ML.Descriptors import MoleculeDescriptors
from rdkit.Chem import Descriptors
descriptor_names = [desc[0] for desc in Descriptors._descList]

# Create a calculator
calculator = MoleculeDescriptors.MolecularDescriptorCalculator(descriptor_names)

In [42]:
def smiles_to_mol(smiles):
    try:
        mol = Chem.MolFromSmiles(smiles)
        if mol is None:
            return None
        return mol
    except:
        return None
######
def mol_to_descriptors(mol):
    try:
        return list(calculator.CalcDescriptors(mol))
    except:
        return [np.nan] * len(descriptor_names)
###Now Tandem them together###
def smiles_df_to_descriptors(df, smiles_col="smiles"):
    mols = df[smiles_col].apply(smiles_to_mol)
    
    desc_values = mols.apply(
        lambda mol: mol_to_descriptors(mol) if mol is not None 
        else [np.nan] * len(descriptor_names)
    )
    
    desc_df = pd.DataFrame(
        desc_values.tolist(),
        columns=descriptor_names,
        index=df.index
    )
    
    return desc_df

In [43]:
X_trainNan0_Desc = smiles_df_to_descriptors(X_train0)
X_testNan0_Desc = smiles_df_to_descriptors(x_test0)
X_valNan0_Desc = smiles_df_to_descriptors(X_val0)

X_trainNan1_Desc = smiles_df_to_descriptors(X_train1)
X_testNan1_Desc = smiles_df_to_descriptors(x_test1)
X_valNan1_Desc = smiles_df_to_descriptors(X_val1)

[14:11:20] WARNING: not removing hydrogen atom without neighbors
[14:11:21] WARNING: not removing hydrogen atom without neighbors
[14:12:14] WARNING: not removing hydrogen atom without neighbors
[14:12:14] WARNING: not removing hydrogen atom without neighbors

In [44]:
X_testNan0_Desc

,MaxAbsEStateIndex,MaxEStateIndex,MinAbsEStateIndex,MinEStateIndex,qed,SPS,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
1234,9.231250,9.231250,0.369444,0.369444,0.247634,6.000000,88.066,84.034,88.027277,34,...,0,0,0,0,0,0,0,0,0,0
7529,9.958333,9.958333,0.157407,-0.157407,0.437851,7.666667,88.106,80.042,88.052429,36,...,0,0,0,0,0,0,0,0,0,0
5695,10.237153,10.237153,0.224537,-0.327546,0.446385,11.000000,116.160,104.064,116.083730,48,...,0,0,0,0,0,0,0,0,0,0
1836,10.926883,10.926883,0.096403,-0.577500,0.423606,9.166667,214.052,204.980,213.007182,70,...,0,0,0,0,0,0,0,0,0,1
1022,3.769815,3.769815,0.699630,0.699630,0.648916,9.818182,146.153,140.105,146.059246,54,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3590,12.309630,12.309630,0.335512,-0.335512,0.628366,10.909091,304.394,280.202,304.189926,120,...,0,0,0,0,0,0,0,0,1,0
4314,12.508786,12.508786,0.124658,0.124658,0.454064,12.966667,418.968,391.752,418.181191,154,...,0,0,0,0,0,0,0,0,0,0
439,9.756944,9.756944,1.192901,-1.638889,0.560696,11.285714,142.969,138.937,141.958835,42,...,0,0,0,0,0,0,0,0,0,0
263,13.308322,13.308322,0.053938,-0.745134,0.854995,10.470588,238.197,230.133,238.066617,88,...,0,0,0,0,0,0,0,0,0,0
1586,5.805892,5.805892,0.760512,0.760512,0.703916,9.714286,184.242,172.146,184.100048,70,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.preprocessing import StandardScaler

# Example for Nan0
scaler = StandardScaler()
X_trainNan0_Desc.replace([np.inf,-np.inf], np.nan, inplace = True)
X_trainNan0scaled = pd.DataFrame(
    scaler.fit_transform(X_trainNan0_Desc),
    columns=X_trainNan0_Desc.columns,
    index=X_trainNan0_Desc.index
)

# num_rows_with_nans = X_trainNan0_Desc.isna().any(axis=1).sum()
# print("Number of rows with at least one NaN:", num_rows_with_nans)

X_testNan0_Desc.replace([np.inf,-np.inf], np.nan, inplace = True)
X_testNan0scaled = pd.DataFrame(
    scaler.fit_transform(X_testNan0_Desc),
    columns=X_testNan0_Desc.columns,
    index=X_testNan0_Desc.index
)


X_valNan0_Desc.replace([np.inf,-np.inf], np.nan, inplace = True)
X_valNan0scaled = pd.DataFrame(
    scaler.fit_transform(X_valNan0_Desc),
    columns=X_valNan0_Desc.columns,
    index=X_valNan0_Desc.index
)

X_trainNan1_Desc.replace([np.inf,-np.inf], np.nan, inplace = True)
X_trainNan1scaled = pd.DataFrame(
    scaler.fit_transform(X_trainNan1_Desc),
    columns=X_trainNan1_Desc.columns,
    index=X_trainNan1_Desc.index
)


X_testNan1_Desc.replace([np.inf,-np.inf], np.nan, inplace = True)
X_testNan1scaled = pd.DataFrame(
    scaler.fit_transform(X_testNan1_Desc),
    columns=X_testNan1_Desc.columns,
    index=X_testNan1_Desc.index
)


X_valNan1_Desc.replace([np.inf,-np.inf], np.nan, inplace = True)
X_valNan1scaled = pd.DataFrame(
    scaler.fit_transform(X_valNan1_Desc),
    columns=X_valNan1_Desc.columns,
    index=X_valNan1_Desc.index
)

,MaxAbsEStateIndex,MaxEStateIndex,MinAbsEStateIndex,MinEStateIndex,qed,SPS,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
7099,0.553378,0.553378,-0.251639,0.314405,1.470727,0.093469,0.517286,0.535608,0.517904,0.488438,...,3.922406,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263
5314,0.039067,0.039067,0.617894,-0.954820,-1.582761,3.562665,0.428886,0.428196,0.430338,0.588060,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263
1920,-0.427127,-0.427127,-0.019199,-0.620358,-2.022454,-0.992597,-0.583995,-0.582071,-0.582807,-0.474578,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263
6048,-1.443877,-1.443877,-0.259834,0.653857,1.018130,-0.617694,-0.540026,-0.515216,-0.539105,-0.507785,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263
4246,-2.386578,-2.386578,1.016971,1.072902,-1.981249,0.036945,0.931980,0.695358,0.932904,1.351831,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,0.129276,-0.177263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4305,0.861549,0.861549,-0.359685,0.287321,1.539722,1.241747,0.166902,0.162960,0.167967,0.255986,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263
825,0.233054,0.233054,-0.064717,0.174439,0.550391,-0.616383,-0.401003,-0.327174,-0.408793,-0.707030,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263
5617,0.260050,0.260050,-0.542339,-2.086591,-0.201423,-0.437452,-0.539939,-0.515123,-0.539452,-0.574200,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263
4169,0.828693,0.828693,-0.597752,-0.105735,0.015565,-0.115503,0.867814,0.854829,0.868477,0.886927,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,8.249777,-0.029198,-0.104991,-0.274369,-0.177263
4231,0.291027,0.291027,-0.152407,0.360185,-1.098798,-0.699884,-0.858967,-0.847726,-0.858159,-0.806652,...,-0.181787,-0.178403,-0.055239,-0.071673,-0.0654,-0.121215,-0.029198,-0.104991,-0.274369,-0.177263

In [59]:
X_trainNan0scaled.to_csv('X_trainNan0scaled_Desc.csv') 
X_testNan0scaled.to_csv('X_testNan0scaled_Desc.csv')
X_valNan0scaled.to_csv('X_valNan0scaled_Desc.csv')

X_trainNan1scaled.to_csv('X_trainNan1scaled_Desc.csv')
X_testNan1scaled.to_csv('X_testNan1scaled_Desc.csv') 
X_valNan1scaled.to_csv('X_valNan1scaled_Desc.csv')

In [60]:
y_train0.to_csv('y_trainNan0.csv') 
y_test0.to_csv('y_testNan0.csv')
y_val0.to_csv('y_valNan0.csv')

y_train1.to_csv('y_trainNan1.csv')
y_test1.to_csv('y_testNan1.csv') 
y_val1.to_csv('y_valNan1.csv')